{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
     <section class="card card-body " >
          <h1 class="display-1 text-center">Working App</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eos nobis fugit ipsa odit? Delectus itaque ex vero
          alias maxime voluptate odio dolorem deleniti suscipit dolores laudantium exercitationem sunt sapiente similique 
          at, nostrum praesentium omnis voluptas a modi velit saepe? Officia, est. Eaque recusandae vitae harum unde ut
          possimus voluptatem? Quidem nesciunt quia suscipit temporibus atque optio, corporis quo vero ut eum, voluptatem
          aut sequi mollitia, commodi possimus reprehenderit! Nam, beatae! Harum officia tenetur nemo et quos laborum
          ducimus pariatur laboriosam odit! Cupiditate quisquam, vel, non enim, natus sed molestiae quasi quos omnis
          consectetur velit laboriosam architecto tenetur nostrum voluptatum!</p>

          <div class="text-center">
               <a class="btn btn-secondary" href="/signin/" >
                    Signin
               </a>
               <a class="btn btn-dark" href="/signup" >
                    Signup
               </a>
          </div>

     </section>
</main>

{% endblock %}